dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

dt {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

dd {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
}

#chat-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

#chat-container > div{
    flex-grow: 1;
    margin: 1em;
}


