.Map-wrapper {
  position: relative;
  overflow: hidden;
  
  margin: 0 auto;
  border-radius: 10px;
  border: 5px solid #e5e5e5;
}

@media only screen and (max-width: 600px) {
  .Map-wrapper {
    max-width: 100%;
  }
}
