/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}
body{
  background-color: #272b30;
  color: #b3c5c8;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.jumbo{
  background-color: rgba(0, 0, 0, 0.397);
}

