.card-deck {
  margin: 5px;
  width: 500px;
}
@media only screen and (max-width: 600px) {
  .card-deck {
    width: 100%;
  }
}

.card-body:hover {
  background-color: #454b51;
}

.card-body a {
  color: inherit;
}

.card-body a:hover {
  text-decoration: none;
}