﻿@using Microsoft.AspNetCore.Identity
@using HumansVsZombies.Models;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    string returnUrl = null;
    var query = ViewContext.HttpContext.Request.Query;
    if (query.ContainsKey("returnUrl"))
    {
        returnUrl = query["returnUrl"];
    }
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a style="color: #b3c5c8;" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/">
                <button type="submit" class="nav-link btn btn-lin">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a style="background-color: #272b30; color: #b3c5c8;" class="nav-link" asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@returnUrl">Register</a>
        </li>
        <li class="nav-item">
            <a style="background-color: #272b30; color: #b3c5c8;" class="nav-link" asp-area="Identity" asp-page="/Account/Login"asp-route-returnUrl="@returnUrl">Login</a>
        </li>
    }
</ul>
