.SquadHome, .SquadHome-main, .SquadHome-left, .SquadHome-right {
  display: flex;
}

.SquadHome, .SquadHome-left, .SquadHome-right {
  flex-direction: column;
}

.SquadHome-main {
  justify-content: space-between;
  flex-wrap: wrap;
}

.SquadHome-memberlist {
  list-style: none;
}
@media only screen and (max-width: 600px) {
  .SquadHome-left {
    width: 100%;padding: 1em;
  }
  .SquadHome-right {
    width: 100%;padding: 1em;
    flex-basis: 100%;
    max-width: 100%;
  }
}