﻿@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger"  style="background-color: #272b30; color: #b3c5c8;">@ViewData["Title"]</h1>
    <p class="text-danger"  style="background-color: #272b30; color: #b3c5c8;">You do not have access to this resource.</p>
</header>
