﻿@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<h1 style="background-color: #272b30; color: #b3c5c8;">@ViewData["Title"]</h1>
<h4 style="background-color: #272b30; color: #b3c5c8;">Associate your @Model.LoginProvider account.</h4>
<hr />

<p class="text-info" style="background-color: #272b30; color: #b3c5c8;">
    You've successfully authenticated with <strong>@Model.LoginProvider</strong>.
    Please enter an email address for this site below and click the Register button to finish
    logging in.
</p>

<div class="row" style="background-color: #272b30; color: #b3c5c8;">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
