﻿@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 style="background-color: #272b30; color: #b3c5c8;">@ViewData["Title"]</h1>
<p style="background-color: #272b30; color: #b3c5c8;">
    Please check your email to reset your password.
</p>

