﻿@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header style="background-color: #272b30; color: #b3c5c8;">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
