﻿@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header style="background-color: #272b30; color: #b3c5c8;">
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>