﻿@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1 style="background-color: #272b30; color: #b3c5c8;">@ViewData["Title"]</h1>
@{
    if (@Model.Email.IndexOf("gmail") > -1)
    {
<p style="background-color: #272b30; color: #b3c5c8;">
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p style="background-color: #272b30; color: #b3c5c8;">
        Please check your email to confirm your account.
</p>
    }
}
