﻿@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1 style="background-color: #272b30; color: #b3c5c8;">@ViewData["Title"]</h1>
<p style="background-color: #272b30; color: #b3c5c8;">
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
